@using SalesStatistics.WebClient.Models

@model RoleEditModel
@{
    ViewBag.Title = "Изменить роль";
}

<h2>Изменить роль</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="roleName" value="@Model.Role.Name"/>
    <div class="row">
        <div class="col-md-8">
            <h4 >Добавить в роль <b>@Model.Role.Name</b></h4>
            <table class="table table-bordered text-center">
                @if (!Model.NonMembers.Any())
                {
                    <tr>
                        <td colspan="2">Все пользователи в роли</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>User ID</td>
                        <td>Добавить в роль</td>
                    </tr>
                    foreach (ApplicationUser user in Model.NonMembers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToAdd" value="@user.Id">
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h4>Удалить из роли <b>@Model.Role.Name</b></h4>
            <table class="table table-bordered text-center">
                @if (!Model.Members.Any())
                {
                    <tr>
                        <td colspan="2">Нет пользователей в роли</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>User ID</td>
                        <td>Удалить из роли</td>
                    </tr>
                    foreach (ApplicationUser user in Model.Members)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToDelete" value="@user.Id">
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <button type="submit" class="btn">Сохранить</button>
    @Html.ActionLink("Отмена", "Index", null, new {@class = "btn"})
}