@model SalesStatistics.WebClient.Models.ViewModels.SaleViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sales</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Client Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientSurname)
            @Html.DisplayFor(model => model.ClientFirstName)
        </dd>

        <dt>
            Product Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Cost of Product:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCost)
        </dd>

        <dt>
            Manager Surname:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerSurname)
        </dd>

        <dt>
            Purchase date:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn"}) |
    @Html.ActionLink("Back to List", "Index")
</p>