@model IEnumerable<SalesStatistics.WebClient.Models.ViewModels.SaleViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <p>
        Find by client: @Html.TextBox("ClientName", "", "", new {id="ClientName", onchange="updateTable();"})
    </p>

    <p>
        Find by product: @Html.TextBox("ProductName", "", "", new {id="ProductName", onchange="updateTable();"})
    </p>

    <p>
        Find by DateStart: @Html.TextBox("DateStart", DateTime.MinValue.ToString("yyyy-MM-dd"), "", new {id="DateStart", Type = "date", onchange="updateTable();"})
    </p>

    <p>
        Find by DateEnd: @Html.TextBox("DateEnd", DateTime.Now.ToString("yyyy-MM-dd"), "", new {id="DateEnd", Type = "date", onchange="updateTable();"})
    </p>
</div>

<div class="row" id="table-container">
    @Html.Partial("_Table", Model)
</div>



@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script type="text/javascript">
    
    $(document).ready(function () {
        
        $('#clients-dropdown-list').change(function (){
            updateTable();
        });
        updateTable();
    });
    
    function getFilterParameters()
    {
            return {
                ClientName: $('#ClientName').val(),
                ProductName: $('#ProductName').val(),
                DateStart: $('#DateStart').val(),
                DateEnd: $('#DateEnd').val(),
            };
    }
    
    function updateTable() { 
        const filter = getFilterParameters();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdateTable")',
            data: filter,
            success: function (data) {
                $('#table-container #tableContent').html(data);
                
            },
                error: function (jQXHR, textStatus, errorThrown){
                console.log('An error occurred while trying to contact the server for Sales: ' + jQXHR.status + ' ' + textStatus + ' ' + errorThrown);                
            }
        });
    }    
    </script>
}