@model IEnumerable<SalesStatistics.WebClient.Models.ViewModels.SaleViewModel>
@{
    ViewBag.Title = "Index";

}

<h2>Sales</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <p>
        Find by client: @Html.TextBox("ClientName", "", "", new {id="ClientName", onchange="updateSalesTable();"})
    </p>

    <p>
        Find by product: @Html.TextBox("ProductName", "", "", new {id="ProductName", onchange="updateSalesTable();"})
    </p>

    <p>
        Find by DateStart: @Html.TextBox("DateStart", DateTime.MinValue.ToString("yyyy-MM-dd"), "", new {id="DateStart", Type = "date", onchange="updateSalesTable();"})
    </p>

    <p>
        Find by DateEnd: @Html.TextBox("DateEnd", DateTime.Now.ToString("yyyy-MM-dd"), "", new {id="DateEnd", Type = "date", onchange="updateSalesTable();"})
    </p>
</div>


@Html.Partial("_Table", Model)


@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function () {
        
        $('#clients-dropdown-list').change(function (){
            updateSalesTable();
        });
        updateSalesTable();
    });
    
    function fromDateChanged()
    {
        updateSalesTable();
    }
        
    function toDateChanged()
    {
        updateSalesTable();
    }
    
    function getFilterParameters()
    {
            return {
                ClientName: $('#ClientName').val(),
                DateStart: $('#DateStart').val(),
                DateEnd: $('#DateEnd').val(),
            };
    }
    
    
    function updateSalesTable() { 
        const filter = getFilterParameters();
        console.log("Dates: " + filter.DateStart + " " + filter.DateEnd);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdateTable")',
            data: filter,
           
            success: function (data) {
                $('#sales-table-container').html(data);
                
            },
                error: function (jQXHR, textStatus, errorThrown){
                console.log('An error occurred while trying to contact the server for Sales: ' + jQXHR.status + ' ' + textStatus + ' ' + errorThrown);                
            }
        });
    }    
    </script>
}